<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="app">
        <header>
            <nav>
                    <input type="checkbox" id="toggle-btn">
                    <label for="toggle-btn">
                        <div class="burger-line" id="top-burger-line"></div>
                        <div class="burger-line" id="middle-burger-line"></div>
                        <div class="burger-line" id="bottom-burger-line"></div>
                    </label>
                    
                    <section id="menu">
                            <div id="burger-menu-space"></div>
                            <div id="flag-space">
                                <img src="RF_flag.jpg" v-on:click="ru=true" class="flag">
                                <img src="UK_flag.png" v-on:click="ru=false" class="flag">
                            </div>
                            <div v-if="ru">
                                <a href="#">Домой</a>
                                <a href="#">Вступление</a>
                                <a href="#">Примеры работ</a>
                                <a href="#">Наши клиенты</a>
                                <a href="#">О нас</a>
                                <a href="#">Почему именно мы</a>
                                <a href="#">Свяжитесь с нами</a>
                            </div>
                            <div v-else>
                                <a href="#">Home</a>
                                <a href="#">Introduction</a>
                                <a href="#">Our works</a>
                                <a href="#">Our clients</a>
                                <a href="#">About us</a>
                                <a href="#">Why choose us</a>
                                <a href="#">Get in touch</a>
                            </div>
                            
                    </section>
                    
            </nav>
            
            <div id="header-bg-img">
                <div id="header-text-space">
                    <article id="header-text-group">
                        <h1 id="header-h1-text" v-if="ru" v-text="text_ru.header.header_h1"></h1>
                        <h1 id="header-h1-text" v-else v-text="text_eng.header.header_h1"></h1>
                        <hr id="header-hr">
                        <div id="header-text-box">
                            <p id="header-text" v-if="ru" v-text="text_ru.header.header_text"></p>
                            <p id="header-text" v-else v-text="text_eng.header.header_text"></p>
                        </div>
                    </article>
                </div>
                <center><img src="Mouse_scroll_ic.png" id="mouse-image"></center>
            </div>
        </header>
        <main>
            <section id="introduction-section">
                <h2 class="intros" v-if="ru" v-text="text_ru.main.introduction_sec.intro"></h2>
                <h2 class="intros" v-else v-text="text_eng.main.introduction_sec.intro"></h2>
                <hr class="section-hr">
                
                <div id="introduction-section-img">
                        
                    <div class="text-space">
                        <p class="text-inner" v-if="ru" v-text="text_ru.main.introduction_sec.text_inner"></p> 
                        <p class="text-inner" v-else v-text="text_eng.main.introduction_sec.text_inner"></p>
                    </div>
                    <div id="img-btn-space">
                        <a href="#">
                            <span v-text="text_eng.main.introduction_sec.big_btn"></span>
                        </a>
                    </div>
                </div>
            </section>
            <section id="some-of-our-work">
                    <h2 class="intros">Some of our work</h2>
                    <hr class="section-hr">
                    <article>
                        <section id="row-of-h4">
                            <h4 class="work-group-themes" v-on:click="filter('all')">All</h4>
                            <h4 class="work-group-themes" v-on:click="filter('branding')">Branding</h4>
                            <h4 class="work-group-themes" v-on:click="filter('web_design')">Web design</h4>
                            <h4 class="work-group-themes" v-on:click="filter('mobile_ui')">Mobile UI</h4>
                            <h4 class="work-group-themes" v-on:click="filter('illustrations')">Illustrations</h4>
                        </section>
                        <section>
                            <transition-group name="list-complete" class="list-complete" tag="section">
                                <div v-for="img in filteredImages" v-bind:key="img.id" class="list-complete-item">
                                    <img class="list-complete-img" :src="img.image" :alt="img.image" />
                                </div>
                            </transition-group>
                        </section>
                        <div style="height:2000px"></div>
                    </article>
            </section>
        </main>
        <footer></footer>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</html>