<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <title>Casablanca</title>
    </head>
    <body>
        <div id="app">
        <header>
            <nav>
                    <input type="checkbox" id="toggle-btn">
                    <label id="nav-label" for="toggle-btn">
                        <div class="burger-line" id="top-burger-line"></div>
                        <div class="burger-line" id="middle-burger-line"></div>
                        <div class="burger-line" id="bottom-burger-line"></div>
                    </label>
                    
                    <section id="menu">
                            <div id="burger-menu-space"></div>
                            <div id="flag-space">
                                <img src="RF_flag.jpg" v-on:click="ru=true" class="flag">
                                <img src="UK_flag.png" v-on:click="ru=false" class="flag">
                            </div>
                            <div v-if="ru">
                                <a href="#">Домой</a>
                                <a href="#">Вступление</a>
                                <a href="#">Примеры работ</a>
                                <a href="#">Наши клиенты</a>
                                <a href="#">О нас</a>
                                <a href="#">Почему именно мы</a>
                                <a href="#">Свяжитесь с нами</a>
                            </div>
                            <div v-else>
                                <a href="#">Home</a>
                                <a href="#introduction-section">Introduction</a>
                                <a href="#some-of-our-work">Our works</a>
                                <a href="#our-clients">Our clients</a>
                                <a href="#">About us</a>
                                <a href="#">Why choose us</a>
                                <a href="#">Get in touch</a>
                            </div>
                            
                    </section>
                    
            </nav>
            
            <div id="header-bg-img">
                <div id="header-text-space">
                    <article id="header-text-group">
                        <h1 id="header-h1-text" v-if="ru" v-text="text_ru.header.header_h1"></h1>
                        <h1 id="header-h1-text" v-else v-text="text_eng.header.header_h1"></h1>
                        <hr id="header-hr">
                        <div id="header-text-box">
                            <p id="header-text" v-if="ru" v-text="text_ru.header.header_text"></p>
                            <p id="header-text" v-else v-text="text_eng.header.header_text"></p>
                        </div>
                    </article>
                </div>
                <center><img src="Mouse_scroll_ic.png" id="mouse-image"></center>
            </div>
        </header>
        <main>
            <section id="introduction-section">
                <h2 class="intros" v-if="ru" v-text="text_ru.main.introduction_sec.intro"></h2>
                <h2 class="intros" v-else v-text="text_eng.main.introduction_sec.intro"></h2>
                <hr class="section-hr">
                
                <div id="introduction-section-img">
                        
                    <div class="text-space">
                        <p class="text-inner" v-if="ru" v-text="text_ru.main.introduction_sec.text_inner"></p> 
                        <p class="text-inner" v-else v-text="text_eng.main.introduction_sec.text_inner"></p>
                    </div>
                    <div id="img-btn-space">
                        <a href="#">
                            <span v-text="text_eng.main.introduction_sec.big_btn"></span>
                        </a>
                    </div>
                </div>
            </section>
            <section id="some-of-our-work">
                    <h2 class="intros">Some of our work</h2>
                    <hr class="section-hr">
                    <article class="centrate">
                        <section id="row-of-h4">
                            <h4 class="work-group-themes" v-on:click="filter('all')" v-text="text_eng.main.work_sec.tags.all" v-bind:class="{clickedTag: currentTag=='all'}"></h4>
                            <h4 class="work-group-themes" v-on:click="filter('branding')" v-text="text_eng.main.work_sec.tags.branding" v-bind:class="{clickedTag: currentTag=='branding'}"></h4>
                            <h4 class="work-group-themes" v-on:click="filter('web_design')" v-text="text_eng.main.work_sec.tags.web_design" v-bind:class="{clickedTag: currentTag=='web_design'}"></h4>
                            <h4 class="work-group-themes" v-on:click="filter('mobile_ui')" v-text="text_eng.main.work_sec.tags.mobile_ui" v-bind:class="{clickedTag: currentTag=='mobile_ui'}"></h4>
                            <h4 class="work-group-themes" v-on:click="filter('illustrations')" v-text="text_eng.main.work_sec.tags.illustrations" v-bind:class="{clickedTag: currentTag=='illustrations'}"></h4>
                        </section>
                        
                            <transition-group name="list-complete" class="list-complete" tag="section">
                                <div v-for="img in filteredImages" v-bind:key="img.id" class="list-complete-item">
                                    <a href="#"><img class="list-complete-img" :src="img.image" :alt="img.image" />
                                    <div v-for="index in 1" class="img-text-space">
                                        <h4 v-text="img.name" class="img-name"></h4> 
                                        <p v-text="img.text"></p>
                                        <hr class="img-hr">
                                    </div></a>
                                </div>
                            </transition-group>
                            
                        
                        <a href=# id="show-me-more-btn">Show me more</a>
                    </article>
            </section>
            <section id="our-clients">
                <section class="half-section">
                    <div id="space-img">
                        <div id="words-borders">
                            <span href="#" class="words">We're here to help</span>
                            <span href="#" class="words">To help everyone</span>
                            <span href="#" class="words">And everybody</span>
                        </div>
                    </div>
                </section>
                <section class="half-section">
                    <h2 class="intros">Our clients</h2>
                    <hr class="section-hr">
                    <div id="logos-space">
                        <img src="./logos/google.png" class="logos-img">
                        <img src="./logos/samsung.png" class="logos-img">
                        <img src="./logos/flickr.png" class="logos-img">
                        <img src="./logos/foursquare.png" class="logos-img">
                        <img src="./logos/pinterest.png" class="logos-img">
                    </div>
                </section>
            </section>
            <section id="about-us">
                <section>
                    <h2 class="intros">About us</h2>
                    <hr class="section-hr">
                    <center>
                        <p class="text-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet massa non ex consectetur interdum et vitae lacus. Cras congue massa eget dolor consequat tincidunt. Donec sit amet pulvinar felis.</p> 
                    </center>
                </section>
                <section id="team">
                    <div class="member">
                        <div id="John-photo" class="member-photo">
                            <a href="#"><img src="symbol.png" title="get in touch" class="link-img"></a>
                            <center>
                            <div class="human-info">
                                <h5 class="human-name">John</h5>
                                <p class="human-text">CEO/Founder</p>
                            </div>
                            </center>
                        </div>
                    </div>
                    <div class="member">
                        <div id="Selena-photo" class="member-photo">
                            <a href="#"><img src="symbol.png" title="get in touch" class="link-img"></a>
                            <center>
                            <div class="human-info">
                                <h5 class="human-name">Selena</h5>
                                <p class="human-text">Head of Development</p>
                            </div>
                            </center>
                        </div>
                    </div>
                    <div class="member">
                        <div id="Maria-photo" class="member-photo">
                            <a href="#"><img src="symbol.png" title="get in touch" class="link-img"></a>
                            <center>
                            <div class="human-info">
                                <h5 class="human-name">Maria</h5>
                                <p class="human-text">Client Service director</p>
                            </div>
                            </center>
                        </div>
                    </div>
                    <div class="member" id="we-are-hiring" v-if="applyVisibility==false">
                        <h2 class="intros" style="margin:30px;padding:0;">We are hiring</h2>
                        <hr class="section-hr" style="margin:30px;padding:0;">
                        <span id="apply-btn" v-on:click="applyVisibility=true">Apply</span>
                    </div>
                    <div class="member" id="hiring-form" v-if="applyVisibility">
                        <button id="close-btn" v-on:click="applyVisibility=false">Close</button>
                        <form method="POST">
                            <div class="personal-info">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" required>
                            </div>
                            <div class="personal-info">
                                <label for="surname">Surname</label>
                                <input type="text" id="surname" name="surname" required>
                            </div>
                            <div class="personal-info">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div class="personal-info">
                                <label for="speciality">Speciality</label>
                                <select id="speciality" name="speciality" required>
                                    <option value="computer_science">Computer Science</option>
                                    <option value="software_engineering">Software Engineering</option>
                                    <option value="web_development">Web Development</option>
                                    <option value="public_relations">Public Relations</option>
                                    <option value="graphic_design">Graphic Design</option>
                                </select>
                            </div>
                            <textarea placeholder="Write why you choose our organization..." cols="30" rows="6" required></textarea>
                            <input type="submit" id="apply-btn">
                        </form>
                    </div>
                </section>
            </section>
            <section id="video-sec">
                <section class="v-class video-container" id="video-back">
                    <div class="fullscreen-video-wrap">
                        <video v-bind:src="videoSource" 
                        autoplay loop muted></video>
                        <div class="video-overlay"></div>
                        <div class="video-content">
                            <img src="playIcon.png" alt="playIcon.png" id="playIcon" v-on:click="videoShow=true">
                        </div>
                    </div>
                </section>
                <aside id="video-click" v-if="videoShow">
                    <div id="video-control">
                        <center>
                        <video v-bind:src="videoSource" 
                        controls></video>
                        </center>
                    </div>
                    <center>
                    <button id="close-video-btn" v-on:click="videoShow=false">CLOSE</button>
                    </center>
                </aside>
            </section>
            <section id="why-choose-us">
                <section>
                    <h2 class="intros">Why choose us</h2>
                    <hr class="section-hr">
                    <center>
                        <p class="text-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet massa non ex consectetur interdum et vitae lacus. Cras congue massa eget dolor consequat tincidunt. Donec sit amet pulvinar felis.</p> 
                    </center>
                </section>
                <section id="slider-sec">
                    <div id="slider-wrap">
                        <div id="slider-btns">
                            <button  class="slider-btn" id="leftBtn" v-on:click="leftBtn()"></button>
                            <button  class="slider-btn" id="rightBtn" v-on:click="rightBtn()"></button>
                        </div>
                        <div id="slider">
                            <div v-for="feature in features" v-bind:key="feature.id" class="slide">
                                <div class="slide-img-cntr">
                                    <img :src="feature.image" class="slide-img">
                                </div>
                                <div>
                                    <h6 class="slide-h6" v-text="feature.name"></h6>
                                    <p class="slide-text" v-text="feature.text"></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </section>
            <section id="get-a-quote">
                <div id="qouteImg">
                    <a href="#" class="white-btn">Get a quote now</a>
                </div>
            </section>
            <section id="get-in-touch-sec">
                <section>
                    <h2 class="intros">get in touch</h2>
                    <hr class="section-hr">
                    <center>
                        <p class="text-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet massa non ex consectetur interdum et vitae lacus. Cras congue massa eget dolor consequat tincidunt. Donec sit amet pulvinar felis.</p> 
                    </center>
                </section>
                <section id="info-and-form">
                    <aside id="location-info">
                        <h6 class="h6-caps">Our location</h6>
                    </aside>
                    <form id="contact-form">nice2</form>
                </section>
            </section>
        </main>
        <footer></footer>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</html>