@font-face {
    font-family: Amble;
    src: url(fonts/Amble-Regular.ttf);
}
@font-face {
    font-family: 'Big John';
    src: url(fonts/BIG_JOHN.otf);
}
body{
    font-family: 'Amble', sans-serif;
    margin:0;
    padding:0;
    font-size:18px;
    height:300vh;
    overflow-x: hidden;
}
#header-bg-img{
    position:relative;
    display:block;
    background: linear-gradient(-90deg, rgba(187,67,67,0.9) 0%, rgba(239,171,75,0.8) 100%), url(HERO.png) no-repeat center top / cover;
    width:100vw;
    height:100vh;
    z-index:0;
}
#header-text-space{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-text-group{
    display:block;
    position:relative;
    text-align:center;
    color:white;
    z-index:2;
}
#header-h1-text{
    font-family: 'Big John', sans-serif;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: normal;
}
#header-hr{
    width:80px;
    border-top: 2px solid #fff;
}
#header-text{
    font-size:20px;
}
#mouse-image{
    position:absolute;
    bottom:20px;
    width:25px;
    height:auto;
}
nav{
    position: fixed;
    display: block;
    z-index:4;
}
label{
    position:fixed;
    top:20px;
    left:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:40px;
    height:40px;
    cursor: pointer;
    z-index:5;
}
label *{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.burger-line{
    display:block;
    width:100%;
    height:5px;
    background-color: white;
}
#toggle-btn{
    display: none;
}
#toggle-btn:checked ~ #menu{
    display: block;
    animation-name: menu-appear;
    animation-duration: 2000ms;
}
@keyframes  menu-appear{
    0%{
        opacity:0;
        transform: translateX(-40px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
#toggle-btn:checked ~ #menu > a{
    animation-name: anchor-appear;
    animation-duration: 2000ms;
}
@keyframes anchor-appear{
    0%{
        opacity:0;
        transform: translateX(-40px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}
#toggle-btn:checked ~ label > #top-burger-line{
    position: absolute;
    background-color: black;
    display:inline;
    transform: rotate(45deg);
    transition-duration: 1000ms;   
}
#toggle-btn:checked ~ label > #middle-burger-line{
    position: absolute;
    background-color: black;
    display:inline;
    transform: rotate(-45deg);
    transition-duration: 1000ms;
}
#toggle-btn:checked ~ label > #bottom-burger-line{
    opacity:0;
    transition-duration: 2000ms;
}
#toggle-btn:checked ~ label{
    justify-content: center;
}
#menu{
    display: none;
    position: relative;
    width:200px;
    height:100vh;
    background: rgba(255,255,255,0.5);
    box-shadow:5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    z-index:4;
}
#burger-menu-space{
    display: block;
    width:80px;
    height:80px;
}
#menu a{
    display: block;
    text-decoration: none;
    color:black;
    border-top:1px solid black;
    padding:20px 10px 20px 30px;
}
#menu a:hover{
    padding-left: 50px;
    text-decoration: underline;
    transition-duration: 500ms;
}
.intros{
    position:relative;
    text-align: center;
    font-family: 'Big John', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    box-sizing: border-box;
    padding-top:8vh;
}
.section-hr{
    width:80px;
    border-top: 2px solid #000000;
}
#introduction-section-img{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4)), url(IMG.png) no-repeat center top / cover;
    z-index:0;
}
.text-space{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    height:40vh;
    box-sizing: border-box;
    padding-bottom:5vh;
}
.text-inner{
    margin-top:5vh;
    max-width:700px;
    text-align: center;
    line-height: 4vh;
    font-weight: normal;
}
#img-btn-space{
    width:100vw;
    height:60vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
#img-btn-space a{
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 700;
    border: 3px solid #ffffff;
    padding:20px 8vw 20px 8vw;
    text-shadow: 2px 2px 4px #000000;
}
#img-btn-space a:hover{
    animation-name: pure-creativity;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    box-shadow:5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
@keyframes pure-creativity{
    0%{
        color:rgba(239,171,75,1);
        background: linear-gradient(-90deg, rgba(187,67,67,0), rgba(239,171,75,1) );
    }
    10%{
        background: linear-gradient(-90deg, rgba(187,67,67,0.3), rgba(239,171,75,0.8) );
    }
    20%{
        color:rgba(239,171,75,0.6);
        background: linear-gradient(-90deg, rgba(187,67,67,0.5), rgba(239,171,75,0.6) );
    }
    30%{
        background: linear-gradient(-90deg, rgba(187,67,67,0.6), rgba(239,171,75,0.3) );
    }
    40%{
        background: linear-gradient(-90deg, rgba(187,67,67,0.8), rgba(239,171,75,0.1) );
    }
    50%{
        color:rgba(187,67,67,0.3);
        background: linear-gradient(-90deg, rgba(187,67,67,0.9), rgba(239,171,75,0) );
    }
    60%{
        background: linear-gradient(-90deg, rgba(187,67,67,1), rgba(239,171,75,0.3) );
    }
    70%{
        background: linear-gradient(-90deg, rgba(187,67,67,0.8), rgba(239,171,75,0.5) );
    }
    80%{
        color:rgba(187,67,67,0.6);
        background: linear-gradient(-90deg, rgba(187,67,67,0.6), rgba(239,171,75,0.6) );
    }
    90%{
        background: linear-gradient(-90deg, rgba(187,67,67,0.3), rgba(239,171,75,0.9) );
    }
    100%{
        color:rgba(239,171,75,1);
        background: linear-gradient(-90deg, rgba(187,67,67,0), rgba(239,171,75,1) );
    }
}