<!DOCTYPE html>
<html>
<head>
	<title>MODEST</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--font-logo--><link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
      <nav v-bind:style="{'position':position}">
        <button v-on:click="changePosition" id="nav-btn" >{{ showWords }}</button>
        <div class="container" id="navbar">
        <div id="logo">
          M<u style="font-family: 'Coiny', cursive; font-size:0.9em;">O</u>DEST
        </div>
        
        <div id="nav-links">
          <a href="#" style="border:2px solid rgba(173,216,230 ,1); color:rgba(173,216,230 ,1);">Home</a>
          <a href="#we-are-modest">About</a>
          <a href="#second-section">Team</a>
          <a href="#works-section">Work</a>
          <a href="#what-we-do-section">Services</a>
          <a href="#features-section">Features</a>
          <a href="#contact-section">Contact</a>
        </div>
        </div>
      </nav>
      <image-slider id="background-image-section">
      <div id="btn-section">
      <button @click="prev" class="image-btn"><</button> 
       <div class="container">
       <section id="welcome-section">
       <h1 id="welcome-h1">Welcome to our marketplace</h1>
                                                      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit ornare lobortis. Cras finibus sit amet feugiat. Etiam cursus malesuada lacus vel pretium...</h4>
                                                      <div id="welcome-buttons">
                                                        <a href="#">view more</a>
                                                        <a href="#">video tour</a>
  </div> </section></div>
        <button @click="next" class="image-btn">></button></div>
    <transition-group name='fade' tag='div'>
      <div v-for="number in [currentNumber]" :key='number'>
        <img id="background-image-cover" :src="currentImage" v-on:mouseover="stopRotation" v-on:mouseout="startRotation"/>
         </div>
         </transition-group>
       </image-slider>    
      
  </header>
  <main>
    <section id="we-are-modest">
      <div class="container">
        <h1 class="section-h1">We are modest</h1>
        <div id="first-section">
          <article id="first-section-text">
            <p>In id urna sed ante semper tristique. Cras mattis feugiat tellus et viverra. Mauris eu felis quis nibh consequat interdum. Aliquam ultricies nunc ac lorem feugiat tempor. Nulla mollis quam nec eros bibendum commodo. Phasellus varius blandit nisi id ultricies. Quisque eget neque eget augue tincidunt egestas. Fusce vel faucibus ipsum.</p>
            <p>Quisque rhoncus, metus et hendrerit efficitur, <b>mi ex euismod ex</b>, sed congue lectus orci nec odio. Nunc ipsum purus, iaculis ut nulla nec, aliquam laoreet augue. Nam vitae dignissim quam. Vestibulum non mauris lacus. Phasellus at interdum velit, non commodo ante.</p>
            <section id="social-links-section">
              <a href="#" class="social-link"><img src="https://www.uspca.com/wp-content/uploads/facebook-logo-png-white-i6.png"></a>
              <a href="#" class="social-link"><img src="http://chittagongit.com/images/twitter-icon-white-png/twitter-icon-white-png-14.jpg"></a>
              <a href="#" class="social-link"><img src="http://icons-for-free.com/free-icons/png/512/2470527.png"></a>
              <a href="#" class="social-link"><img src="https://cmbranddeveloper.com/wp-content/uploads/2018/06/media.png"></a>
              <a href="#" class="social-link"><img src="https://cdn.freebiesupply.com/logos/large/2x/behance-logo-png-transparent.png"></a>
            </section>
          </article>
          <aside id="first-section-aside">
            <div class="info-icon">01</div>
            <div class="aside-info-text">
              <h4 class="info-title">dedication to the customers</h4>
              <p>Proin porta malesuada elementum. Aliquam ullamcorper sagittis nulla at dignissim. Vestibulum.</p>
            </div>
            <div class="info-icon">02</div>
            <div class="aside-info-text">
              <h4 class="info-title">working closely with our clients</h4>
              <p>Praesent vulputate ex vel ligula laoreet, et ornare mauris suscipit. Etiam mi nibh, dapibus vitae.</p>
            </div>
            <div class="info-icon">03</div>
            <div class="aside-info-text">
              <h4 class="info-title">increase happiness</h4>
              <p>Nunc nulla ex, rutrum eu ultrices a, posuere ac urna. Integer tortor massa, aliquet eu sapien.</p>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <hr>
    <section id="second-section">
      <div class="container">
        <h1 class="section-h1">meet the team</h1>
        <div id="second-section-grid">
          <div class="human-info">
            <div>
              <div class="human-info-links">
              <a href="#" class="social-link"><img src="https://www.uspca.com/wp-content/uploads/facebook-logo-png-white-i6.png"></a>
              <a href="#" class="social-link"><img src="http://chittagongit.com/images/twitter-icon-white-png/twitter-icon-white-png-14.jpg"></a>
              <a href="#" class="social-link"><img src="https://cmbranddeveloper.com/wp-content/uploads/2018/06/media.png"></a>
            </div>
              <img src="https://blockapps.net/wp-content/uploads/2016/12/woman-headshot-silhouette-grey-hi.png" class="human-photo"></div>
            <div class="human-text">
              <h4 class="human-name">gloria bromley</h4>
              <p class="human-occupation">CEO and Founder</p>
            </div>
          </div>
          <div class="human-info">
            <div>
              <div class="human-info-links">
              <a href="#" class="social-link"><img src="https://www.uspca.com/wp-content/uploads/facebook-logo-png-white-i6.png"></a>
              <a href="#" class="social-link"><img src="http://chittagongit.com/images/twitter-icon-white-png/twitter-icon-white-png-14.jpg"></a>
              <a href="#" class="social-link"><img src="https://cmbranddeveloper.com/wp-content/uploads/2018/06/media.png"></a>
            </div>
              <img src="http://simpleicon.com/wp-content/uploads/user1.png" class="human-photo">
            </div>
            <div class="human-text">
              <h4 class="human-name">paul torres</h4>
              <p class="human-occupation">Head of Development</p>
            </div>
          </div>
          <div class="human-info">
            <div>
              <div class="human-info-links">
              <a href="#" class="social-link"><img src="https://www.uspca.com/wp-content/uploads/facebook-logo-png-white-i6.png"></a>
              <a href="#" class="social-link"><img src="http://chittagongit.com/images/twitter-icon-white-png/twitter-icon-white-png-14.jpg"></a>
              <a href="#" class="social-link"><img src="https://cmbranddeveloper.com/wp-content/uploads/2018/06/media.png"></a>
            </div>
              <img src="https://blockapps.net/wp-content/uploads/2016/12/woman-headshot-silhouette-grey-hi.png" class="human-photo"></div>
            <div class="human-text">
              <h4 class="human-name">judith gillette</h4>
              <p class="human-occupation">Graphic Desinger</p>
            </div>
          </div>
          <div class="human-info">
            <div>
              <div class="human-info-links">
              <a href="#" class="social-link"><img src="https://www.uspca.com/wp-content/uploads/facebook-logo-png-white-i6.png"></a>
              <a href="#" class="social-link"><img src="http://chittagongit.com/images/twitter-icon-white-png/twitter-icon-white-png-14.jpg"></a>
              <a href="#" class="social-link"><img src="https://cmbranddeveloper.com/wp-content/uploads/2018/06/media.png"></a>
            </div>
              <img src="http://simpleicon.com/wp-content/uploads/user1.png" class="human-photo">
            </div>
            <div class="human-text">
              <h4 class="human-name">delores reed</h4>
              <p class="human-occupation">Client Service Director</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="works-section">
      <div class="container">
        <h1 class="section-h1">lovely work</h1>
        <div id="grid-six-works">
          <div id="work-1">
            <a href="#" class="works-links"><div class="opasier">
            <div class="single-work">
              <h1 class="works-h1">+</h1>
              <div class="works-description">
                <h4 class="human-name">partnership guidlines</h4>
              </div>
            </div></div></a>
          </div>
          <div id="work-2">
            <a href="#" class="works-links"><div class="opasier">
            <div class="single-work">
              <h1 class="works-h1">+</h1>
              <div class="works-description">
                <h4 class="human-name">partnership guidlines</h4>
              </div>
            </div></div></a>
          </div>
          <div id="work-3">
            <a href="#" class="works-links"><div class="opasier">
            <div class="single-work">
              <h1 class="works-h1">+</h1>
              <div class="works-description">
                <h4 class="human-name">partnership guidlines</h4>
              </div>
            </div></div></a>
          </div>
          <div id="work-4">
            <a href="#" class="works-links"><div class="opasier">
            <div class="single-work">
              <h1 class="works-h1">+</h1>
              <div class="works-description">
                <h4 class="human-name">partnership guidlines</h4>
              </div>
            </div></div></a>
          </div>
          <div id="work-5">
            <a href="#" class="works-links"><div class="opasier">
            <div class="single-work">
              <h1 class="works-h1">+</h1>
              <div class="works-description">
                <h4 class="human-name">partnership guidlines</h4>
              </div>
            </div></div></a>
          </div>
          <div id="work-6">
            <a href="#" class="works-links"><div class="opasier">
            <div class="single-work">
              <h1 class="works-h1">+</h1>
              <div class="works-description">
                <h4 class="human-name">partnership guidlines</h4>
              </div>
            </div></div></a>
          </div>
        </div>
        <div id="show-me-more-btn"><a href="#">show me more</a></div>
      </div>
    </section>
    <section id="what-we-do-section">
      <div class="container">
        <h1 class="section-h1">what we do</h1>
        <section id="what-we-do-grid">
          <div class="grid-cell">
            <i class="fas fa-cogs"></i>
            <h4 class="grid-cell-title">easy theme setup</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
          <div class="grid-cell">
            <i class="fas fa-pencil-alt"></i>
            <h4 class="grid-cell-title">pixel perfect design</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
          <div class="grid-cell">
            <i class="fas fa-mobile"></i>
            <h4 class="grid-cell-title">responsive display</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
          <div class="grid-cell">
            <i class="far fa-clock"></i>
            <h4 class="grid-cell-title">24/7 support</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
          <div class="grid-cell">
            <i class="fas fa-cogs"></i>
            <h4 class="grid-cell-title">easy theme setup</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
          <div class="grid-cell">
            <i class="fas fa-pencil-alt"></i>
            <h4 class="grid-cell-title">pixel perfect design</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
          <div class="grid-cell">
            <i class="fas fa-mobile"></i>
            <h4 class="grid-cell-title">responsive display</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
          <div class="grid-cell">
            <i class="far fa-clock"></i>
            <h4 class="grid-cell-title">24/7 support</h4>
            <p class="grid-cell-description">Sed gravida lacus eu turpis ultricies, et vehicula ligula volutpat. Aenean augue nisl, pellentesque eu dictum quis, aliquam quis nisl. </p>
          </div>
        </section>
      </div>
    </section>
    <section id="features-section">
      <div class="container">
        <h1 class="section-h1">features</h1>
        <section id="feature-cells">
          <div class="feature-cell">
            <img src="https://s1.1zoom.ru/b5050/158/Fields_Sky_TraktorRed_500910_3840x2400.jpg" class="feature-img">
            <h4 class="feature-title">product design: eames chairs</h4>
            <p class="feature-description">Phasellus at nibh eu odio elementum congue. Fusce eleifend ex lacus, eget iaculis turpis elementum vel. Vestibulum ornare, massa at convallis consectetur, diam nibh consequat.</p>
          </div>
          <div class="feature-cell">
            <img src="https://images.fineartamerica.com/images-medium-large-5/bicycles-are-not-only-for-summer-in-black-and-white-pedro-cardona.jpg" class="feature-img">
            <h4 class="feature-title">elegant and colorful logos</h4>
            <p class="feature-description">Phasellus at nibh eu odio elementum congue. Fusce eleifend ex lacus, eget iaculis turpis elementum vel. Vestibulum ornare, massa at convallis consectetur, diam nibh consequat.</p>
          </div>
          <div class="feature-cell">
            <img src="http://www.amazing-places.com/wp-content/uploads/2017/05/Sylvenstein-Lake-Upper-Bavaria-1210x642.jpg" class="feature-img">
            <h4 class="feature-title">a showcase of creative</h4>
            <p class="feature-description">Phasellus at nibh eu odio elementum congue. Fusce eleifend ex lacus, eget iaculis turpis elementum vel. Vestibulum ornare, massa at convallis consectetur, diam nibh consequat.</p>
          </div>
        </section>
      </div>
    </section>
    <section id="contact-section">
      <div class="container">
        <h1 class="section-h1">stay in touch</h1>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d9996.607860069435!2d13.397985754356972!3d52.51523091267981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m0!4m3!3m2!1d52.5088362!2d13.3903813!5e0!3m2!1sen!2sus!4v1547804488880" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen id="map"></iframe>
      <div class="container">
        <section id="contact-info">
          <h4 id="contact-info-title">contact information</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor quam tellus, eu porttitor dolor accumsan eu. Donec neque tortor, tempor vel ex bibendum, suscipit tempor nulla.</p>
          <p>Nunc ornare hendrerit mauris, quis aliquet sapien congue eu. Vestibulum rutrum maximus dolor, in pellentesque dui rutrum eget.  </p>
        </section>
        <div id="form-div">
          <div id="app"><span v-bind:title="name">Hello {{ name }}!</span>
          <form action="#" id="form">
            <div id="name-email-inputs">
              <div class="single-input">
                <label for="name">Your name</label>
                <input type="text" id="name" name="name" v-model="name">
              </div>
              <div class="single-input">
                <label for="email">Your email</label>
                <input type="email" id="email" name="email">
              </div>
            </div>
            <div id="message-and-submit">
              <div id="textarea">
                <label for="textarea">Your message</label>
                <textarea form="form" name="textarea" id="textarea" rows="6"></textarea>
              </div>
              <input type="submit" value="SEND MESSAGE" id="submit-btn" v-on:click.once="showsent=!showsent"><span v-show="showsent">{{ sent }}</span>
            </div>
          </form></div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div id="footer">
        <p id="feature-description">&copy; I don't know what to write here 2019. All rights Reserved.</p>
        <section id="last-links-section">
          <a href="#" class="last-social-link"><img src="https://www.uspca.com/wp-content/uploads/facebook-logo-png-white-i6.png"></a>
              <a href="#" class="last-social-link"><img src="http://chittagongit.com/images/twitter-icon-white-png/twitter-icon-white-png-14.jpg"></a>
              <a href="#" class="last-social-link"><img src="http://pngimg.com/uploads/skype/skype_PNG31.png"></a>
              <a href="#" class="last-social-link"><img src="https://www.infounders.org/wp-content/uploads/2018/08/linkedin-logo-1.png"></a>
              <a href="#" class="last-social-link"><img src="https://cdn.freebiesupply.com/logos/large/2x/behance-logo-png-transparent.png"></a>
        </section>
      </div>
    </div>
  </footer>
  <script src="main.js"></script>
</body>
</html>